@use "../abstracts/" as a;

#contact-pg main {
  min-height: calc(100vh - 110px - 26px);
  @media (max-width: map-get(a.$breakpoint-nav, "tablet")) {
    min-height: calc(100vh - 100px - 26px);
  }
  @media (max-width: map-get(a.$breakpoint-nav, "phone")) {
    min-height: calc(100vh - 80px - 26px);
  }
}

#contact-pg section[role="alert"] {
  display: none;
  &.active {
    display: flex;
  }
  justify-content: center;
  font-family: a.$main-sans-font;
  background-color: var(--color-success);
  position: relative;
  align-items: center;
  height: 32px;
  font-size: 16px;
  span {
    color: black;
  }
  button {
    position: absolute;
    right: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    i {
      font-size: 18px;
    }
  }
}

#contact-pg main section[role="content"] {
  @media (min-width: map-get(a.$breakpoint-contact, "reflow")) {
    display: flex;
  }
  padding: 32px;
  @media (max-width: map-get(a.$breakpoint-contact, "phone")) {
    padding: 16px;
  }
  max-width: 1000px;
  margin: 0 auto;
  div {
    @media (min-width: map-get(a.$breakpoint-contact, "reflow")) {
      width: 50%;
    }
  }
}
