@use "../abstracts/" as a;

.music-streaming {
  margin-bottom: 21px;
  width: 100%;
  li {
    height: 40px;
    border: solid 1px var(--color-gray-light);
    // border-radius: 8px;
    padding: 8px;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
  li + li {
    margin-top: 16px;
  }
  a {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .text,
  .target {
    font-family: a.$second-sans-font !important;
    color: black !important;
    text-decoration: none !important;
  }
  .target {
    margin-left: auto;
  }
  .text {
    margin-left: 20px;
  }
}
