@mixin thumb() {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--color-gray);
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@mixin range() {
  width: 100%;
  background-color: var(--color-gray-light);
  height: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  @include range();
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  @include range();
}
input[type="range"]::-webkit-slider-thumb {
  @include thumb();
  -webkit-appearance: none;
  transform: translateY(-5px);
}
input[type="range"]::-moz-range-track {
  @include range();
}
input[type="range"]::-moz-range-thumb {
  @include thumb();
}
input[type="range"]::-ms-track {
  border-color: transparent;
  color: transparent;
  @include range();
}
input[type="range"]::-ms-thumb {
  @include thumb();
}
