// font-family
$main-sans-font: "Optima", "Inter", sans-serif;
$second-sans-font: "Roboto", sans-serif;

$main-serif-font: "Didot", "Times New Roman", serif;
$secondary-serif-font: "Didot", "Georgia", serif;

// quotes
$serif-fancy: "Didot", "Times New Roman", serif;

// japanese
$main-japanese-font: "Sawarabi Mincho", serif;
$main-japanese-font: "MS PMincho", serif;
